/* src/styles/HomePage.css */

.home-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-title {
  font-size: 2.5em;
  color: #333;
  margin-top: 40px;
}

.sub-title {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 40px;
}

.frame {
  width: 80%;
  max-width: 800px; /* Ensures frames don't get too wide on large screens */
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.frame-left {
  transform: translateX(-100%);
}

.frame.show {
  opacity: 1;
  transform: translateX(0);
}

.frame h2 {
  font-size: 2em;
  color: #444;
  margin-bottom: 20px;
}

.frame p {
  font-size: 1.0em;
  color: #666;
  margin-bottom: 20px;
  font-style: italic;
}

.button-container {
  display: flex;
  flex-wrap: wrap; /* Allows buttons to wrap on smaller screens */
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

/* Unified button styles */
.action-button {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
  background-color: #0056b3;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.service-icon {
  margin-right: 10px;
  color: #007BFF; /* You can adjust the color */
  font-size: 1.5em; /* Adjust the size as needed */
  vertical-align: middle;
}

.qr-code-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.close-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-title {
    font-size: 2em;
    margin-top: 20px;
  }

  .sub-title {
    font-size: 1em;
    margin-bottom: 20px;
  }

  .frame {
    width: 90%;
    margin: 20px auto;
    opacity: 1;
    transform: translateX(0);
  }

  .frame h2 {
    font-size: 1.5em;
  }

  .frame p {
    font-size: 1em;
  }

  .action-button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
